# ### 4. Episode Show Page

# On the episode show page, a user should see:

# - Episode date
# - A list of the guests who were on that episode
# - Each guest's name should link to the Guest Show page

<h1>This is the episode show page</h1>
<ul>
<li></li><%= @episode.date%></li>

<li></li><%= @episode.number%></li>

</ul>